@{
    ViewBag.Title = "Phan Lạc Việt";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài Thi Giữa kì của Phan Lạc Việt - Cam kết không đạo văn</h3>

<address>
   K22CNT2 - Môn Lập Trình Ứng Dụng web với công nghệ ASP.NET MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">chungtrinhj@gmail.com</a><br />
    <strong>cá nhân:</strong> <a href="mailto:lacvietphan578@gmail.com">lacvietphan578@gmail.com</a>
</address>