
@{
    ViewBag.Title = "inbangcuuchuong";
}

<h2>In Bảng cửu chương từ 2 đên 9</h2>
@{
    for (int i = 2; i <= 9; i++)
    {
        @ViewBag.bang @i <br />
        for (int j = 1; j <= 10; j++)
        {
            @($" {i} x {j} = {i * j}, ")
        }
        <br />
    }
}

